node_modules/
/data/live
/workout-preview/build
.DS_Store
.dev-telemetry/
workout-preview/.dev-telemetry/

# Private guides, cursor configs & copyrighted materials
not_code/
workout-preview/public/jumpers-knee/
*.pdf
.cursor/
.cursorignore
workout-preview/.cursor/
*.mdc

